<md-table-container id="different-search">
	<md-toolbar class="md-table-toolbar md-default" ng-show="!showSearch" style="padding-right: 12px!important;">
		<div class="md-toolbar-tools">
			<span>HISTÓRICO</span>
			<span flex></span>
			<!-- ng-click="imprimir();" -->
			<md-button ng-click="changeAccount($event);" ng-if="listFinished.length > 0" class="md-raised" aria-label="Favorite">ALTERAR CONTA CONTABIL</md-button>
			<md-button ng-click="imprimir();" class="md-raised" aria-label="Favorite">GERAR PLANILHA</md-button>
			<md-button class="md-icon-button" aria-label="Period" ng-click="openModal($event)">
				<md-icon class="whitet">find_in_page</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div id="content">
		<table md-table multiple>
			<thead md-head>
				<tr md-row>
					<!--th md-column><span>LIVRO</span></th>
					<th md-column><span>CR</span></th>
					<th md-column><span>DT. EMISSÃO</span></th>
					<th md-column><span>DT. ENTRADA</span></th>
					<th md-column><span>N.DOCUMENTO</span></th>
					<th md-column class="text-center"><span>VALOR</span></th-->
					<th md-column><span>FILIAL</span></th>
					<th md-column><span>CONTA CONTABIL</span></th>
					<th md-column><span>LIVRO</span></th>
					<th md-column><span>CONTA CONTABIL</span></th>
					<th md-column><span>VALOR UNIT.</span></th>
					<th md-column><span>CR</span></th>
					<th md-column><span>DT. EMISSAO</span></th>
					<th md-column><span>DT. ENTRADA</span></th>
					<th md-column><span>N.DOCUMENTO</span></th>
					<th md-column><span>CPA</span></th>
					<th md-column><span>PROJECT</span></th>
					<th md-column><span>GRAFICA</span></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-select="dessert" ng-repeat="item in listFinished">
					<!--td md-cell>{{item.stock }}</td>
					<td md-cell>{{item.costCenter}}</td>
					<td md-cell>{{item.dateRequest  | date:'dd/MM/yyyy' : 'UTC'}}</td>
					<td md-cell>{{item.entryDate | date:'dd/MM/yyyy' : 'UTC'}}</td>
					<td md-cell>{{item.documentNumber}}</td>
					<td md-cell>R$ {{item.unitaryValue | number:2}}</td-->
					<td md-cell>{{item.branch}}</td>
					<td md-cell>
						<span ng-if="!item.showInput" ng-click="item.showInput = true">{{item.cont}}</span>
						<md-input-container class="input_document" ng-if="item.showInput">
							<input type="number" ng-model="item.cont" ng-blur="item.showInput = false"/>
						</md-input-container>
					</td>
					<td md-cell>{{item.stock}}</td>
					<td md-cell>
						<span ng-if="!item.showInput2" ng-click="item.showInput2 = true">{{item.cont2}}</span>
						<md-input-container class="input_document" ng-if="item.showInput2">
							<input type="number" ng-model="item.cont2" ng-blur="item.showInput2 = false"/>
						</md-input-container>
					</td>
					<td md-cell>R$ {{item.unitaryValue | number:2}}</td>
					<td md-cell>{{item.costCenter}}</td>
					<td md-cell>{{item.emissionDate | date:'dd/MM/yyyy' : 'UTC'}}</td>
					<td md-cell>{{item.enterDateInvoice | date:'dd/MM/yyyy' : 'UTC'}}</td>
					<td md-cell>{{item.documentNumber}}</td>
					<td md-cell>{{item.cpa}}</td>
					<td md-cell>{{item.project}}</td>
					<td md-cell>{{item.printShop}}</td>
				</tr>
			</tbody>
			<tfooter class="tfooter_total">
				<tr>
					<td md-cell class="row_height" colspan="9">TOTAL DO MES:</td>
					<td md-cell class="row_height text-right" colspan="5"><strong> R$ {{totalMonth | number:2}}</strong></td>
				</tr>
				<tr>
					<td md-cell class="row_height" colspan="9">TOTAL NO ESTOQUE:</td>
					<td md-cell class="row_height text-right" colspan="5"><strong> R$ {{valueTotalStock - totalMonth | number:2}}</strong></td>
				</tr>
			</tfooter>
		</table>
	</div>
</md-table-container>
</div>

<script type="text/ng-template" id="alteraContabil.html">
	<md-dialog aria-label="modalEdit">
		<form name="formAccount" ng-submit="change(param);" ng-cloak>
			<md-toolbar class="primary-color">
				<div class="md-toolbar-tools">
					<md-icon flex="10" class="material-icons">filter_list</md-icon>
					<h2>Informe a Conta Contábil</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="cancel()">
						<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<div class="md-dialog-content" style="min-width:300px;">
					<div layout="row">
						<md-input-container class="md-block" flex='100'>
							<label>Conta Contábil Coluna 1</label>
							<input required ng-model="param.account" name="account">
						</md-input-container>
						<md-input-container class="md-block" flex='100'>
							<label>Conta Contábil Coluna 2</label>
							<input required ng-model="param.account2" name="account2">
						</md-input-container>
					</div>
				</div>
			</md-dialog-content>
			<md-dialog-actions layout="row">
				<span flex></span>
				<!-- ng-click="modal.filtrar(filter)" -->
				<md-button type="submit" ng-disabled="formAccount.$invalid">
					Alterar
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
</script>

<script type="text/ng-template" id="periodModal.html">

	<md-dialog aria-label="modalEdit">
		<form ng-cloak>
			<md-toolbar class="primary-color">
				<div class="md-toolbar-tools">
					<md-icon flex="10" class="material-icons">filter_list</md-icon>
					<h2>Escolha o mês</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="modal.cancel()">
						<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<div class="md-dialog-content" style="min-width:300px;">
					<div layout="row">
						<h4>SELECIONE O MÊS</h4>
						<md-select name="filter" ng-model="filter">
							<md-option ng-repeat="item in monthWithRequest" value="{{item.year}}-{{item.month}}">{{ item.year }} / {{ item.month }}</md-option>
						</md-select>	
	
					</div>
				</div>
			</md-dialog-content>
			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button ng-click="modal.filtrar(filter)">
					Filtrar
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>

</script>