<!-- div>
	<md-toolbar class="md-table-toolbar md-default" ng-show="!showSearch">
		<div class="md-toolbar-tools">
			<span>REQUISIÇÕES AGUARDANDO ENVIO</span>
    		<span flex></span>
			<!--<md-button ng-click="toRequest($event)" class="md-raised" aria-label="Favorite">requisitar</md-button>>
			<md-button ng-click="showSearch = !showSearch">
				<md-icon class="whitet">search</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-toolbar class="md-hue-1 search_tables" ng-show="showSearch">
		<div class="md-toolbar-tools">
			<md-input-container md-theme="input" flex>
				<label>&nbsp;</label>
				<input ng-model="search" placeholder="Pesquisar">
			</md-input-container>
			<md-button ng-click="showSearch = !showSearch; search = '';">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
		<table md-table multiple>
			<thead md-head>
				<tr md-row>
					<th md-column><span>COD.</span></th>
			      	<th md-column><span>TÍTULO</span></th>
			        <th md-column><span>QUANTIDADE</span></th>
			        <th md-column><span>DATA</span></th>
			        <th md-column><span>REQ. POR</span></th>
			        <th md-column><span>INSTITUIÇÃO</span></th>
			        <th md-column><span>CATEGORIA</span></th>
			        <th md-column><span>SUB-CATEGORIA</span></th>
			        <th md-column><span>STATUS</span></th>
			    </tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="item in listRequest">
					<td md-cell>{{item.Id}}</td>
			      	<td md-cell>{{item.stock.title}}</td>
			        <td md-cell>{{item.quantity}}</td>
			        <td md-cell>{{item.dateRequest | date:'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</td>
			        <td md-cell>{{item.user.name}}</td>
			        <td md-cell>Senai SUL</td>
			        <td md-cell>{{item.stock.subCategory.category.name}}</td>
			        <td md-cell>{{item.stock.subCategory.name}}</td>
			        <td md-cell>
			        	<md-button ng-if="item.status != 50" ng-click="confirm(item.id);" class="md-raised">{{item.status | traslateStatus}}</md-button>
			        	<a ng-if="item.status == 50">{{item.status | traslateStatus}}</a>
			        </td>
			    </tr>
			</tbody>
		</table>
	</md-table-container>
</div-->